


body{
  font-family: "Montserrat";
  text-align: center;

}

h1,h2, h3, h4, h5, h6 {
font-family: "Montserrat-Black";

}

p {
  color: grey;
}

      /* Container */

.container-fluid {
  padding: 3% 15% 7%;
}

      /* Sections */
.coloured-section {
  color: #fff;
    background-color: #f34e4e;
}
.white-section {
background-color: #efe1ce;
}

/* navbar */

.navbar-brand {font-size: 3rem;
  font-family: "Ubuntu";
  font-weight:bold;
  margin-left: -10px;

}
.navbar {
padding-bottom:0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light"
}
 .download-button {
   margin: 5% 3% 5% 0;
 }
 /* Title section */


 #title .container-fluid {
   padding: 3% 15% 7%;
   text-align: left;
 }

.big-heading {
 font-size: 3.5rem;
 font-family: "Montserrat-Black";
 line-height: 1.5;
}
.section-heading {
 font-size: 3rem;
 line-height: 1.5
}
   /* Title image */

 .title-image {
   width: 70%;
   transform: rotate(23deg);
   padding-left: 25px;
   position: absolute;
   right: 30px;

 }
 .feature-box {
   padding: 2.5%;
 }
 .icon {
   color: #4271f2;
   margin-bottom: 1rem;
 }

.icon:hover {
  color: #dc143c;
}
    /* Features */
    #features {

    position: relative;
    }


/* testimonial */

 #testimonials {
   background-color: #f7882f;
}
.feature-title {
  font-size:1.5rem;
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5

}
.testimonial-image {
  width: 25%;
  border-radius: 100%;
  margin: 20px;
}


#Press {
  background-color: #f7882f;
  padding-bottom: 3%;
}
.press-logo {
  width:  15%;
  margin: 20px 20px 50px;

}
/* Pricing Section */

#pricing {
  padding: 100px;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-column {
  padding: 3% 2%;
}
/* Cta-action */

.cta-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}
 @media  (max-width:1028px)  {
    #title {
     text-align: center;
   }
  .title-image {
    position: static;
    transform: rotate(0deg);
  }
}
   /* Footer Section */


.social-icon {
  margin: 40px 25px;

}
